<div class="w-full h-screen">
    <div class="not-found-container">
        <div class="not-found-det">
            <p class="not-found-head">Something's wrong here...</p>
            <p class="not-found-desc pb-5">We can't find the page you are looking for. Check out our Help Center or head back to home.</p>
            <div class="not-found-btn">
                <a routerLink="help" class="btn-help " >Help</a>
                <a routerLink="" class="btn-home" >Home</a>
            </div>
        </div>
        <div class="not-found-img">
            <img src="assets/images/authentication/notFound.png">
        </div>
    </div>
</div>
    
