<!-- app-side-nav-bar.component.html -->
<p-sidebar
  [(visible)]="sideBarVisible"
  [showCloseIcon]="false"
  [dismissible]="false">
  <div class="app-sidebar-container">
    <div class="app-sidebar-module-card" *ngFor="let moduleDet of moduleLinkData">
        <a routerLink="{{moduleDet.MLD_href}}">
            <p-card>
                <div class="titleWithIcon">
                    <i class="{{moduleDet.MLD_faIcon}}"></i>
                    <ng-container *ngIf="moduleDet.MLD_faIconSecondary">
                        <i class="{{moduleDet.MLD_faIconSecondary}} secondaryIcon"></i> 
                    </ng-container>
                    
                    <span>{{moduleDet.MLD_title}}</span></div>
                <div>
                    <p>{{moduleDet.MLD_description}}</p>
                </div>
            </p-card>
        </a>
    </div>
    
  </div>
</p-sidebar>
