<h4>Basic mat-select</h4>
<mat-form-field style="height: 70px;">
  <mat-label style="font-size: 0.9em;">Favorite food</mat-label>
  <mat-select >
    @for (food of foods; track food) {
      <mat-option [value]="food.value">{{food.viewValue}}</mat-option>
    }
  </mat-select>
</mat-form-field>

<mat-form-field>
  <mat-label>Cars</mat-label>
  <mat-select matNativeControl required >
    <mat-option value="volvo">Volvo</mat-option>
    <mat-option value="saab">Saab</mat-option>
    <mat-option value="mercedes">Mercedes</mat-option>
    <mat-option value="audi">Audi</mat-option>
  </mat-select>
</mat-form-field>