<div>
    <div class="user-chat-settings">
        <button>
            <i class="fa-solid fa-user-gear"></i>
        </button>
        <button mat-fab extended>
            <i class="fa-solid fa-bell"></i>
        </button>
    </div>
    <div class="user-chat-search">
        <i class="fa-solid fa-magnifying-glass"></i>
        <input class="" type="text" name="" id="" placeholder="Search...    ">
    </div>
    <div>
        <mat-tab-group>
            <mat-tab label="Chats">
                <h1>This is CHats</h1>
            </mat-tab>
            <mat-tab label="Groups">
                <h1>Groups</h1>
            </mat-tab>
            <mat-tab label="All">
                <h1>ALl</h1>
            </mat-tab>
          </mat-tab-group>
    </div>

</div>