/* styles.css or the component-specific CSS file */
.app-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }
  
  .app-container .main-content {
    flex: 1;
    display: flex;
  }
  
  .app-container app-side-nav-bar {
    flex: 0 0 auto;
  }
  
  .app-container .main-content {
    display: flex;
    width: 100%;
    height: 100%;
  }
