<br>
<br>

<app-input-radio-buttons [fieldName]="'fruit'" label="'Apple'" [inputId]="'12345'" (getValue)="selecteDate = $event"></app-input-radio-buttons>
<br>
<app-input-radio-buttons [fieldName]="'fruit'" label="'Orange'" [inputId]="'123456'" (getValue)="selecteDate = $event"></app-input-radio-buttons>
<br>
<app-input-radio-buttons [fieldName]="'fruit'" label="'PineApple'" [inputId]="'123457'" (getValue)="selecteDate = $event"></app-input-radio-buttons>
<br>
<app-input-radio-buttons [fieldName]="'fruit'" label="'Banan'" [inputId]="'123458'" (getValue)="selecteDate = $event"></app-input-radio-buttons>
<br>
<app-input-radio-buttons [fieldName]="'fruit'" label="'Grapes'" [inputId]="'123459'" (getValue)="selecteDate = $event"></app-input-radio-buttons>
<br>
<h1>{{selecteDate}}</h1>
<br>
<app-gl-input-text [label]="'First Name'"></app-gl-input-text>
<h1>{{inputValue}}</h1>

<br>
<br>
<h1>Hello</h1>

