<!-- app-app-bar.component.html -->
<div class="px-4 py-3 bg-black w-full flex app-shell-app-bar">
  <div class="w-1/5">
    <p-button
      pRipple
      class="bg-black text-white side-nav-icon"
      (onClick)="openSideNavBar()"
    >
      <i
        class="pi {{ isSideNavOpen ? 'pi-times' : 'pi-bars' }}"
        style="font-size: 2rem"
      ></i>
    </p-button>
  </div>
  <div class="w-2/5">
    <p-inputGroup>
      <p-inputGroupAddon class="input_group_addon">
        <i class="pi pi-search"></i>
      </p-inputGroupAddon>
      <input
        pInputText
        type="text"
        class="appearance-none border-none outline-none focus:outline-none focus:ring-0 bg-white p-2 w-full"
      />
    </p-inputGroup>
  </div>
</div>
